<div class="col s6">
  <div class="row" id="manager-dash">
    <div class="col s5 offset-s1">
      <span class="card-title">Shift Info</span>
      <b>Employee&nbsp;&nbsp;</b><br>
        <%= @shift.employee.name %>
        <br><br>

      <b>Date&nbsp;&nbsp;</b><br>
        <%= @shift.date.strftime("%-m/%-d/%y") %>
        <br><br>

      <b>Time&nbsp;&nbsp;</b><br>
        <%= @shift.start_time.strftime("%H:%M") %>&nbsp;-&nbsp;
        <%= @shift.end_time.strftime("%H:%M") %>
        <br><br>

      <b>Duration&nbsp;&nbsp;</b><br>
        <%= @shift.duration %>&nbsp;&nbsp;hours
        <br /><br />
    </div>
    <div class="col s6">
      <span class="card-title">Edit Completed Jobs</span>
      <%= simple_form_for(@shift) do |f| %>
      <%= hidden_field_tag "shift[job_ids][]", nil %>
      <%= f.error_notification %>
      <div class="row">
        <div class="form-inputs">
          <div class="input-field col checkbox optional shift_jobs">
            <% for job in @jobs  %>
            <div class="col">
              <%= label_tag(job.id, nil, class: 'string optional') do %>
              <%= check_box 'shift', 'job_ids', {:multiple => true, :id=>job.id}, job.id, nil %>
              <span class="job_checkbox"><%= job.name %></span>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row" id="shift_show_side manager-dash">
        <div class="form-actions col">
          <%= f.button :submit, 'Update Jobs' %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
